<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: Metadata Cleaner contributors
SPDX-License-Identifier: CC-BY-SA-4.0
-->
<page xmlns="http://projectmallard.org/1.0/"
	xmlns:its="http://www.w3.org/2005/11/its"
	type="guide"
	id="index">
	<title its:locNote="The application name. It can be translated.">Metadata Cleaner</title>

	<media type="image" src="figures/icon.svg" width="64" height="64" its:translate="no"/>

	<p><app>Metadata Cleaner</app> allows you to view metadata in your files and to get rid of it, as much as possible.</p>

	<section id="general">
		<title>General information</title>
	</section>

	<section id="usage">
		<title>Using <app>Metadata Cleaner</app></title>
	</section>
</page>
